body{
    padding-top: 80px;
}
.navbar{
    box-shadow: 0px 1px 5px #3292a6;
    background-color: #fff !important; 
}
.nav-item{
    font-size: 1.4rem;
    padding-right: 20px;
}
header{
    min-height: 100vh;
    background-image: linear-gradient( rgba( 50, 146, 166, .7) , rgba( 50, 146, 166, .7)) , url(../images/mountains.jpg);
    background-position: center;
    background-size: cover;
}
#authors img{
    margin-top: -30%;
}
footer{
   
}